:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --white: #ffffff;
}

body {
  margin: 0;
  background-color: var(--stone-100);
  font-size: 1rem;
  color: var(--stone-600);
  line-height: 150%;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

ul, p, h1, h2, h3, ol {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: var(--white);
  padding: 0 32px 40px;
}

h1 {
  color: var(--stone-900);
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 100%;
  margin: 40px 0 24px;
}

img {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.preparation {
  background-color: var(--rose-50);
  padding: 24px;
  border-radius: 12px;
  margin: 32px 0;
}

.preparation h2 {
  color: var(--rose-800);
  font-size: 1.25rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 100%;
}

.preparation ul {
  padding: 0 24px;
}

.preparation li::marker {
  color: var(--rose-800);
}

.preparation li, .ingredients li, .instructions li {
  margin-bottom: 8px;
}

.preparation li:last-child, .ingredients li:last-child, .instructions li:last-child {
  margin-bottom: 0;
}

h3 {
  color: var(--brown-800);
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 100%;
  margin-bottom: 24px;
}

.ingredients, hr, .instructions {
  margin-bottom: 32px;
}

.ingredients ul, .instructions ol {
  padding: 0 0 0 24px;
}

.ingredients li::marker, .instructions li::marker {
  color: var(--brown-800);
}

.instructions li::marker {
  font-weight: bold;
}

.instructions li {
  padding-left: 1rem;
}

table {
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid var(--stone-150);
}

table tr:last-child {
  border: none;
}

table tr td:first-child {
  padding-left: 32px;
}

table tr td:last-child {
  color: var(--brown-800);
}

td {
  padding: 12px 0;
}

@media (min-width: 48rem) {
  body {
    margin: 8rem 0;
  }
  .wrapper {
    max-width: 616px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 24px;
  }

  img {
    width: 100%;
    margin: 0;
    border-radius: 12px;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 64rem) {
  .wrapper {
    max-width: 46rem;
  }
}